<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class='formulario'>

    <div class="inner">
      <div class="header">
        Preencha com as informações do cartão
      </div>
      <ion-item>
        <ion-input type="text" [(ngModel)]="formPayment.full_name" name="full_name" placeholder="Nome impresso no cartão"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="formPayment.card.number" name="number" placeholder="Número do Cartão" [brmasker]="{mask:'0000 0000 0000 0000', len:19, type:'num'}"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.card.expiration" name="expiration" placeholder="MM/AA" [brmasker]="{mask:'00/00', len:5, type:'num'}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size=4>
          <ion-item>
            <ion-input type="text" maxlength="4" [(ngModel)]="formPayment.card.cvv" name="verification_value" [brmasker]="{mask:'0000', len:10, type:'num'}" placeholder="CVV"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <div class="header">
        Preencha com dados pessoais
      </div>
      <ion-item>
        <ion-input type="text" [(ngModel)]="formPayment.cpf" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" placeholder="CPF"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="formPayment.birthDate" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" placeholder="Data de Nascimento"></ion-input>
      </ion-item>


      <div class="header">
        Preencha com o endereço
      </div>
      <ion-row>
        <ion-col size=5>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.address.cep" (ngModelChange)="buscaCEP()" [brmasker]="{mask:'00000-000', len:9, type:'num'}" placeholder="CEP"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.address.logradouro" placeholder="Logradouro"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.address.numero" placeholder="Número" [brmasker]="{mask:'00000', len:5, type:'num'}"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col size=5>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.address.complemento" placeholder="Compl." [brmasker]="{mask:'00000', len:5, type:'num'}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-item>
        <ion-input type="text" [(ngModel)]="formPayment.address.bairro" placeholder="Bairro"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select [(ngModel)]="formPayment.address.estado" name="estado" #estado_id="ngModel" value="brown" okText="Selecionar" cancelText="Cancelar" class='campo' placeholder="Estado">
              <ion-select-option *ngFor="let estado of estados; let key = index" [value]="estado.sigla">{{ estado.nome }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" [(ngModel)]="formPayment.address.cidade" placeholder="Cidade"></ion-input>

          </ion-item>
        </ion-col>
      </ion-row>

      <ion-button (click)="realizarPagamento()" [disabled]='realizando' class="inverse">Realizar Pagamento</ion-button>
    </div>
  </div>
</ion-content>
